:javascript
  var eligible = '#{@game_eligibility}';
-content_for :head do
  %title #{@game.title} | A Typing Game
  %meta{:content => "#{@game.title} Game | Keyboard Playground", :property => "og:title"}
  %meta{:content => "Free Online Typing Games", :property => "og:site_name"}
  %meta{:content => "#{@game.description}", :property => "og:description"}
  %meta{:content => "#{@game.title} Game | Keyboard Playground", :property => "title"}
  %meta{:property => "description", :content => "#{@game.description}"}
  %meta{:property => 'keywords', :content => '#{@game.itle}, typing, game, keyboarding, practice, play, online'}
.row
  .large-12.columns
    .row
      .large-6.columns
        %h3.game-title
          =@game.title
          .fb-share-button{"data-href" => "https://developers.facebook.com/docs/plugins/", "data-layout" => "button"}

      .large-6.columns
        .game-score.right
          .score-label Score:
          .score-value 0
    .game-desc
      =@game.description
    .ad
      %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
      / fotg page header
      %ins.adsbygoogle{"data-ad-client" => "ca-pub-1203319491225179", "data-ad-format" => "auto", "data-ad-slot" => "1802013024", :style => "display:block"}
      :javascript
        (adsbygoogle = window.adsbygoogle || []).push({});
    #game
      =render :partial => "#{@game.title.downcase.gsub(' ', '_')}"
      %section.section
        %h4.title Tell Your Friends!
        =social_share_button_tag(@game.title)
      %section.section
        %h5.title
          %a{:href => "#panel2"} Comments
        .content{"data-slug" => "panel2"}
          .comments
            -if user_signed_in?
              = render :partial => 'comments/form', :locals => { :comment => @new_comment }
            = render :partial => 'comments/comment', :collection => @comments, :as => :comment
          .comment-bottom
  .large-3.columns

#myModal.reveal-modal{"data-reveal" => ""}
  %h2 You are not signed in
  %p.lead You'll need to register to participate
  =link_to new_user_session_path do
    %button.radius.button Login
  =link_to new_user_registration_path do
    %button.radius.button Signup
  %a.close-reveal-modal ×
-if user_signed_in?
  #gameComplete.reveal-modal{"data-reveal" => ""}
    .green{:style =>"padding: 4px 15px 1px; margin: 0 10px 12px 0;"}

      .results
        %label score
        %label normalized score
        %label score percentile
        .score-raw
        .score-relative
        .score-percentile
        .streak-msg
    %a.close-reveal-modal ×
-else
  #gameComplete.reveal-modal{"data-reveal" => ""}
    .green{:style =>"padding: 4px 15px 1px; margin: 0 10px 12px 0;"}

      %h4{:style=>"font-size:: 25px;"}
        You are playing as a guest.  Login now and we will save your score to your new account and you can start tracking your luck.
        .score-value 0
      =link_to new_user_session_path do
        %button.radius.button Login
      =link_to new_user_registration_path do
        %button.radius.button Signup

    %h5 Or, try out other games as a guest:
    -@eligible_games = Game.all
    =render :partial => 'eligible_games'
    %a.close-reveal-modal ×

:javascript
  $(document).on('ready page:load', function(){

    console.log(eligible);
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1522911697961808',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

    //ignore all this for now, just developing code to get additional permissions and gonna leave it here for now until publish_actions is allowed on app review
    $('#share2').click(function(){
      FB.login(function(response) {
        if (response.authResponse) {
          // user gave permission
        } else {
          // user did not give permission
        }
      }, {scope:'publish_actions'});
    });
    $('#share').click(function(){
      FB.api('/me/conversations', 'get',  {
          access_token : 'CAAVpFILIA1ABACHHZCScmjxjkNe9UufaZBkHgox8iq6SgcZBjEZCSAkVh5jJ29g2ONouiy724D4ogeViQCmWeiSSMbg1Ky0Csjf20fnIKPmSFTkJ9KRS8wLZA8VMXgZCw74yFVokOz9hXAvDko2WB4zRLTipld6XXwbeJt5uhmJLZB6CNv8nOtxxc850nUJ7XqEQc0e9LQhIQZDZD'
        },function(response) {
        console.log(response);
      });
    });
  });
