:javascript
  var eligible = '#{@game_eligibility}';
-content_for :head do
  %title #{@game.title} | A Typing Game
  %meta{:content => "#{@game.title} Game | Keyboard Playground", :property => "og:title"}
  %meta{:content => "Free Online Typing Games", :property => "og:site_name"}
  %meta{:content => "#{@game.description}", :property => "og:description"}
  %meta{:content => "#{@game.title} Game | Keyboard Playground", :property => "title"}
  %meta{:property => "description", :content => "#{@game.description}"}
  %meta{:property => 'keywords', :content => '#{@game.itle}, typing, game, keyboarding, practice, play, online'}
.row
  .large-12.columns
    .row
      .large-12.columns
        %h3.game-title
          =@game.title
          =social_share_button_tag(@game.title)

    .row
      .large-8.columns

        #game-desc
          =@game.description
        #results
        #game
          =render :partial => "#{@game.title.downcase.gsub(' ', '_')}"
        %button#begin Start Typing
        %button#resume.game-control Resume Game
        %button#pause.game-control Pause
      .large-4.columns
        %div{:style => "width: 100%;"}
          %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
          / game instructions
          %ins.adsbygoogle{"data-ad-client" => "ca-pub-1203319491225179", "data-ad-format" => "auto", "data-ad-slot" => "1185270621", "data-ad-format" => "rectangle", :style => "display:block"}
          :javascript
            (adsbygoogle = window.adsbygoogle || []).push({});

    .row
      .large-8.columns
        #comments
          %h5.title
            %a{:href => "#panel2"} Comments
          .content{"data-slug" => "panel2"}
            .comments
              -if user_signed_in?
                = render :partial => 'comments/form', :locals => { :comment => @new_comment }
              -if @comments.length > 0
                = render :partial => 'comments/comment', :collection => @comments, :as => :comment
              -else
                %p No comments yet on this typing game.
            .comment-bottom
      .large-4.columns
        %h4 High Scores
        #high-scores
          =render @high_scores
#myModal.reveal-modal{"data-reveal" => ""}
  %h2 You are not signed in
  %p.lead You'll need to register to participate
  =link_to new_user_session_path do
    %button.radius.button Login
  =link_to new_user_registration_path do
    %button.radius.button Signup
  %a.close-reveal-modal ×

#roundComplete.reveal-modal{"data-reveal" => ""}
  %h3 Round Complete
  %h5 Congrats, your typing skills were enough to survive this round.  Now, the game gets harder.
  .round.score-value 0
  .total.score-value 0
  %div{:style=>"height:20px;"}
  %button#continue Next Round
  %p You are playing as a guest.  Login or register after the game and we will save your score to your account.

  %a.close-reveal-modal ×

:javascript
  $(document).on('ready page:load', function(){

    console.log(eligible);
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1522911697961808',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

    //ignore all this for now, just developing code to get additional permissions and gonna leave it here for now until publish_actions is allowed on app review
    $('#share2').click(function(){
      FB.login(function(response) {
        if (response.authResponse) {
          // user gave permission
        } else {
          // user did not give permission
        }
      }, {scope:'publish_actions'});
    });
    $('#share').click(function(){
      FB.api('/me/conversations', 'get',  {
          access_token : 'CAAVpFILIA1ABACHHZCScmjxjkNe9UufaZBkHgox8iq6SgcZBjEZCSAkVh5jJ29g2ONouiy724D4ogeViQCmWeiSSMbg1Ky0Csjf20fnIKPmSFTkJ9KRS8wLZA8VMXgZCw74yFVokOz9hXAvDko2WB4zRLTipld6XXwbeJt5uhmJLZB6CNv8nOtxxc850nUJ7XqEQc0e9LQhIQZDZD'
        },function(response) {
        console.log(response);
      });
    });
    $('#continue').on('click', function() {
      nextRound();
    });
    $('#begin').on('click', function() {
      initGame();
      initScore();
      $('#game').show();
      $('.game-control').show();
      $('#results').html();
      $('#resume').hide();
      $('#pause').show();
    });
    $('#pause').on('click', function() {
      pauseGame();
      $('#pause').hide();
      $('#resume').show();
    });
    $('#resume').on('click', function() {
      resumeGame();
      $('#resume').hide();
      $('#pause').show();
    });
    $('#play-again').on('click', function() {
      initScore();
      initGame();

    });
  });

  function initScore() {
    game_session = parseInt(Math.random() * 10000000);
    $.get('#{init_score_game_path(@game.id)}?game_session='+game_session);
  }

  function saveScore() {
    var data = {
      score: score,
      game_session: game_session
    }
    $.post('#{save_score_game_path(@game.id)}', data);
  }

  function gameOver() {
    calculateScore();
    $('#results').html();

    $('#results').append('#{escape_javascript render :partial=>"end_of_game_ad"}');
    $('.score-value').html('Final Score: ' + score);
    $('#game').hide();
    $('.game-control').hide();

  }

:css
  #pause,#resume {
    display:none;
    margin-top: 15px;
  }
  #begin {
    margin-top: 15px;
  }
  #game {
    button {

    }
  }
  #game {
    position: relative;


  }
  #ad {
    position:fixed;
  }
  .social-share-button {
    margin-left: 15px;
    display: inline;
  }
  .score-value {
    padding: 4px 9px;
    background-color: red;
    font-weight: 600;
    color: #000;
    margin: 15px 0 10px;
    font-size: 20px;
    max-width: 220px;
    display: block;
  }

  .score-panel {
    background-color: beige;
    padding: 1px 13px 8px 13px;
    margin-bottom: 5px;
  }